@charset "UTF-8";
/* CSS Document */

article {
	margin: 80%;
	margin: 0 auto;
	padding: 2em
}

h1 { 
	font-family: "Arsenal SC", serif;
  	font-weight: 700;
  	font-style: normal;
	font-size: 2.8em;
	line-height: 1em;
}

p {
	font-size: 1em;
}

.author{
	font-size: lem;
	color:#3A3939;
}

.date{
	color:#7C7C7C
}

dt {
	font-family: "Arsenal SC", serif;
  	font-weight: 400;
  	font-style: normal;	
	font-size: 1.5em;
	line-height: 2em;
}