@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
	width: 80%;
	text-align: center;
	margin:0 auto;
}
h1 {
	font-family:"tt-alientz-serif";
	font-size: 3em;
	padding-top: 100px;
	color:chocolate;
}

li {
	list-style: none;
}

a:link {
	line-height: 2em;
	font-size: 1.5em;
	color:crimson;
}
a:visited {
	color:black;
}

a:hover {
	color:orange;
	font-style: italic;
}
a:active {
	color:green;
}


